<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">FrontUP</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="">Projetos</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>
            <span>v0.1.0 <i class="glyphicon glyphicon-tags"></i></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
